<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="sute_1" verbose="1">
    <test name="functional" parallel="classes" thread-count="5">
        <packages>
            <package name="com.yandex.mail.autotest.tests.functional"/>
        </packages>
    </test>
</suite>
